@import '~styles/mixins.less';

.xiyou-record-header {
  width: 100%;
  background: @White;
}

.xiyou-record-header-inner {
  width: 1024px;
  height: 80px;
  margin: 0 auto;
  .flex-row-center();
}

@media screen and (max-width:@max-mobile-width) {
  .xiyou-record-header-inner {
    .vw(height, 80);
    width: 100%;
  }
}